<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/css/index.css">
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <h2>Podstrona
    </h2>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, assumenda tenetur distinctio voluptatibus incidunt ratione perspiciatis mollitia obcaecati eaque corrupti animi vero illum accusamus. Impedit delectus odit at aspernatur alias.</div>
    <input type="text" id="text">
    <button id="button">Klik me</button>
    <div id="action"></div>
    <script src="./../js/funct.js"></script>
</body>
</html>